.main{
    max-width: 100vw;
    height: 96vh;
    justify-content: center;
    box-sizing: border-box;
    display: none;
    position: relative;
}
.main_header{
    width: 100%;
    height: 8vh;
    background-color: rgb(238, 237, 237);
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_info img{
    width: 30px;
    margin-right: 20px;
}
.logo_name{
    font-size: 25px;
    color: rgb(167, 166, 165);
}
.user_info{
    display: flex;
    align-items: center;
}
.user_name{
    font-size: 14px;
    font-weight: 600;
}
.exit_button{
    width: 70px;
    height: 30px;
    background-color: rgb(253, 189, 106);
    color: white;
    border-radius: 30px;
    margin-left: 10px;
    font-weight: 600;
}
.exit_button:hover{
    background-color: rgb(247, 205, 151);
    transition: .3s;
}
.main_content{
    width: 100%;
    height: 88vh;
    background-color: rgb(224, 224, 224);
    box-sizing: border-box;
    padding: 30px 40px 30px 40px;
    display: flex;
    flex-direction: column;
}
.tasks_area{
    display: flex;
    width: 100%;
    height: 80%;
}
.new_tasks-area{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}
.new_tasks-area div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
}
.new_tasks-area input{
    height: 46px;
    border: none;
    width: 90%;
    color: rgb(190, 190, 190);
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    padding-left: 15px;
}
.new_tasks-area button{
    min-width: 60px;
    height: 60px;
    background-color: rgb(99, 179, 103);
    border-radius: 50%;
    margin-left: -10px;
    font-size: 50px;
    color: white;
}
.new_tasks-area button:hover{
    background-color: rgb(119, 197, 119);
    transition: .3s;
}

.filters{
    height: 300px;
    flex: 4;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
}
.filters_area{
    height: 46px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 46px;
}
.filters_area input{
    height: 100%;
    width: 80%;
    border: none;
    color: rgb(190, 190, 190);
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    padding-left: 15px;
}

.filters_area button{
    width: 70px;
    box-sizing: border-box;
    color: white;
    padding: 0 4px 0 4px;
    font-size: 14px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background-color: rgb(200, 120, 211);
}
.filters_area button:hover{
    opacity: .8;
    transition: .3s;
}
.filters_date{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filters_date input{
    margin-left: 10px;
    max-width: 110px;
    border: none;
    height: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 3px 15px 3px 15px;
}
.tasks{
    flex: 4;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
::-webkit-scrollbar{
    width: 6px;
    background-color: rgb(224, 224, 224);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb{
    width: 3px;
    height: 3px;
    background-color: rgb(230, 230, 230);
}

.tasks_block-name{
    font-weight: 800;
    margin-left: 10px;
}
.task_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.tasks_container{
    height: 100%;
    overflow-y: scroll;
}
.tasks_content{
    height: 100%;
    margin-top: 10px;
}
.task_date{
    margin-top: 20px;
    flex: 2;
    font-size: 10px;
    min-width: 60px; 
    text-align: center;
    /* opacity: 0; */
    color: grey;
    display: none;
}
.task{
    flex: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 10px 5px 10px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    min-height: 46px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.check{
    display: flex;
    align-items: center;
}
.check input:hover{
    cursor: pointer;
}
.task_buttons{
    display: none;
}
.task_buttons button{
    margin-left: 5px;
}
.task_buttons button:hover{
    transform: scale(1.2);
    transition: .3s
}
.task_text{
    margin-left: 5px;
    color: grey;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    line-break: auto;
}
.task:hover{
    box-shadow: 0 0 20px 5px rgba(134, 134, 134, 0.09);
    transform: translateY(-3px);
    transition: .4s;
    cursor: pointer;
}
.task_content:hover .task_date{
    display: block;
}

.task:hover .task_buttons{
    display: flex;
}



.done{
    flex: 4;
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.done_content{
    height: 100%;
    margin-top: 10px;
}
.done_container{
    height: 100%;
    overflow-y: scroll;
}
.done_block-name{
    font-weight: 800;
    margin-left: 10px;
}
.done .task{
    box-shadow: none;
    transform: none;
    transition: none;
}

@media screen and (max-width: 370px){
    .logo_info img{
        margin-right: 5px;
    }
    .exit_button{
        margin-left: 5px;
        width: 60px;
    }
}


@media screen and (max-width: 750px){
    .main_content {
        padding: 30px 10px 30px 10px;
    }
}

@media screen and (max-width: 700px){
    .main_content {
        padding: 10px 10px 10px 10px;
    }
    .tasks_area{
        flex-direction: column;
        flex: 8;
    }
    .filters{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .filters_area{
        margin-top: 0;
        width: 100%;
        justify-content: center;
    }
    .filters_date{
        display: none;
    }
    .tasks{
        margin-top: 10px;
        flex: 6;
        overflow-y: hidden;
    }
    .task_date{
        margin-top: 0;
    }
    .done{
        margin-top: 15px;
        flex: 5;
        overflow-y: hidden;
    }
    .main_content{
        padding: 0;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
    }
    .tasks_area{
        flex: 11;
        padding-top: 10px;
    }
    .tasks_container:first-child .task{
        margin-top: 5px;
    }
    .new_tasks-area{
        flex: 1;
        padding: 0 10px;
        box-sizing: border-box;
        background-color: rgb(240, 240, 240);
    }
    .new_tasks-area div{
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.09);
        display: flex;
        justify-content: space-between;
    }
    .done_container .task{
        margin-top: 5px;
    }
    .new_tasks-area button{
        border-radius: 0 10px 10px 0;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
    }
}    

@media screen and (max-height: 800px){
    .new_tasks-area{
        padding: 5px 10px;
    }
    /* .new_tasks-area input{
        height: 40px;
    } */
    .new_tasks-area button{
        /* min-width: 40px;
        height: 40px; */
        font-size: 30px;
    }
    /* .task{
        height: 36px;
    } */
}